<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-bars oo" style="cursor: pointer" ></i>
  <a class="navbar-brand" href="#">SIAM618</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <span class="navbar-nav text-center pt-1 pb-0 ">
            <a href="#" class="nav-item nav-link ">
              <small><i class="fas fa-money-bill d-block"></i>Préconisations</small></a>
        </span>
      <span class="navbar-nav text-center pt-1 pb-0 ">
            <a href="#" class="nav-item nav-link ">
              <small><i class="fas fa-money-bill d-block"></i>Home</small></a>
        </span>
      <span class="navbar-nav text-center pt-1 pb-0 ">
            <a href="#" class="nav-item nav-link  ">
              <small><i class="fas fa-money-bill d-block"></i>Features</small></a>
        </span>
      <span class="navbar-nav text-center pt-1 pb-0 ">
            <a href="#" class="nav-item nav-link ">
              <small><i class="fas fa-money-bill d-block"></i>Pricing</small></a>
        </span>
      <span class="navbar-nav text-center pt-1 pb-0 ">
            <a href="#" class="nav-item nav-link  ">
              <small><i class="fas fa-money-bill d-block"></i>Préconisations</small></a>
        </span>
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

